# .extras is for semi-private (don't put anything security
# sensitive there!) and machine-specific/temporary tweaks
.extra

# Compiled files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
